* {
   box-sizing: border-box;
}
p {
    font-family: roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
 }
 body {
   padding-left: 72px;
   padding-top:70px;
   background-color: rgb(249, 249, 249);
 }