.side-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  background-color: white;
  z-index: 300;
}
.items {
  height: 75px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items:hover {
  transition: 0.15s;
  background-color: rgb(235, 234, 234);
}
.items img {
height: 24px;
align-items: center;
margin-bottom: 7px;
}
.items div {
  font-family: roboto, arial;
  font-size: 10px;
}