body {
  font-family: roboto, arial;
  padding-top: 10%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/simple-website-bg-img.jpg);
}
header {
  display: flex;
  gap: 56.2%;
  align-items: center;
  background-color: rgb(27, 26, 26);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 9%;
}
.right-section {
  display: flex;
  align-items: center;
  gap: 10%;
  cursor: pointer;
  transition: 0.3s
}
.bar {
  font-size: 17px;
  color: white;
}
.bar:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.left-section {
  cursor: pointer;
  font-size: 19px;
  color: white;
  font-weight: 600;
  margin-left: 1%;
}
.left-section:hover {
  text-decoration: underline;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  width: 80%;
  text-align: center;
}
.paragraph {
  font-size: 45px;
  font-weight: 500;
  line-height: 160%;
  color: white;
}
.Learn {
  background-color: transparent;
  color: white;
  padding: 1% 2% 1% 2%;
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1.5%;
  font-size: medium;
}
.subscribe {
  background-color: white;
  color: black;
  padding: 1.09% 2.9% 1.09% 2.9%;
  border: none;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1.5%;
}

/* --- أكواد الـ Grid الأصلية --- */
.grid-style {
  overflow: visible;
}
.video-preview {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: transparent;
  transition: border-radius 0.3s, background-color 0.3s;
}
.video-preview:hover {
  background-color: lightgray;
}
.video-preview:hover .thumbnails {
  border-radius: 0;
  margin: 0;
}
.grid-videos {
  display: grid;
  min-width: 172px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 10px;
}
.thumbnails {
  transition: transform, border-radius 0.15s;
  width: 100%;
  cursor: pointer;
  border-radius: 13px;
}
.container {
  position: relative;
}
.time {
  font-family: roboto, arial}