
  body {
  font-family: roboto, arial;}

/* --- أكواد الـ Grid الأصلية --- */
.grid-style {
  overflow: visible;
}
.video-preview {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  transition: border-radius 0.3s, background-color 0.3s;
}
.video-preview:hover {
  background-color: lightgray;
}
.video-preview:hover .thumbnails {
  border-radius: 0;
  margin: 0;
}
.grid-videos {
  display: grid;
  min-width: 172px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 10px;
}
.thumbnails {
  transition: transform, border-radius 0.15s;
  width: 100%;
  cursor: pointer;
  border-radius: 13px;
}
.container {
  position: relative;
}
.time {
  font-family: roboto, arial;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 7px;
  padding: 2px 3px 2px 3px;
  background-color: black;
  color: white;
  border-radius: 4px;
  z-index: 50;
}
.video-text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.channel-name {
  color: rgb(96, 96, 96);
  display: block;
  margin-top: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
}
.channel-name:hover {
  color: black;
  font-weight: 500;
}
.video-state {
  margin-top: 6px;
  font-size: 12px;
  color: rgb(96, 96, 96);
  display: block;
}
.channels {
  width: 37px;
  border-radius: 50%;
  margin-top: 7px;
  cursor: pointer;
}
.video-details {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.video-info {
  margin-top: 7px;
}
@media (max-width: 420px) {
  .grid-style {
    width: 300px;
    margin-left: -49px;
  }
  .voice-button {
    display: none;
  }
  .search-button {
    width: 40px;
  }
  .search-button-and-bar {
    width: 100px;
    margin-left: -3px;
  }
  .upper-bar {
    gap: 100px;
  }
  .youtube-logo {
    width: 100px;
    margin-left: -10px;
  }
  .humburger {
    width: 40px;
    margin-right: 70px;
  }
  .right {
    margin-left: -90px;
    gap: 10px;
    width: 90px;
    margin-right: 40px;
  }
  .left {
    width: 10px;
    margin-left: -20px;
  }
  .grid-videos {
    grid-template-columns: 1fr;
    width: 350px;
  }
  .side-bar {
    display: none;
  }
}
@media (max-width: 750px) {
  .grid-videos {
    grid-template-columns: 1fr;
  }
}

/* الشاشات الكبيرة جداً */
@media (min-width: 1000px) {
  .grid-videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}