@media(max-width:1000px) {
.grid-videos {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width:700px) {
.grid-videos {
    grid-template-columns: 1fr;
  }
}
.grid-style {
  overflow: visible;
}
.video-preview {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: transparent;
  transition: border-radius 0.3s,background-color 0.3s;
}

.video-preview:hover {
  background-color: lightgray;
}
.video-preview:hover .thumbnails {
  border-radius: 0;
  margin: 0;
}
.grid-videos {
    display: grid;
    min-width: 172px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
  }
  .thumbnails {
   transition: tranform, border-radius 0.15s;
   width: 100%; 
   cursor: pointer;
   border-radius: 13px;
  }
  .container {
    position: relative;
  }
  .time {
    font-family: roboto, arial;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 7px;
    padding: 2px 3px 2px 3px;
    background-color: black;
    color: white;
    border-radius: 4px;
    z-index: 50;
  }
  .video-text {
    display: inline-block;
    font-weight:500;
    font-size: 14px;
    cursor: pointer;
  }
   .channel-name{
    color: rgb(96, 96, 96);
    display: block;
    margin-top: 6px;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.3s;
   }
   .channel-name:hover {
    color: black;
    font-weight: 500;
   }
   .video-state {
    margin-top: 6px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    display: block;
   }
  .channels {
    width:37px;
    border-radius: 50%;
    margin-top: 7px;
    cursor: pointer;
  }
  .video-details {
    display: grid;
    grid-template-columns: 60px 1fr;
  }
  .video-info {
    margin-top: 7px;
  }
